.home{
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow: hidden;
}

.home-panel{
    border-radius: 10px;
    display: flex;
    margin: auto;
    width: 80%;
    height: 60%;
    background-color: #fff;
}

.chart-container{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 30px;
    min-width: 250px;
border-left: 2px solid;
background-color: #d8f3dc;
}
.chart-list{
    display: flex;
    align-items: center;
    justify-content: center;
}

.chart-list > ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.chart-list > ul > li{
    line-height: 1.5;
}

.chart-list > ul > li::marker {
    font-size: 28px; 
    vertical-align: middle; 
}

.chart-list > ul > li:nth-child(1)::marker{
    color: #ef233c;
}
.chart-list > ul > li:nth-child(2)::marker{
    color: #118ab2;
}
.chart-list > ul > li:nth-child(3)::marker{
    color: #74c69d;
}


