.clock{
    position: absolute;
    right: 10px;
top: 10px;
    width: 200px;
    height: 100px;
    display: flex;
    flex-direction: column;
    background: #fff;
    border-radius: 10px;
    align-items: center;
    text-align: center;
    justify-content: center;
}

@media screen and (max-width:500px){
    .clock{
        display: none;
    }
}